.form-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    label {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .form-checkbox--price {
            font-weight: 500;
        }
    }
}