.form-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    label {
        display: flex;
        width: 100%;
        
        .form-checkbox--text {
            flex: 1;
        }

        .form-checkbox--price {
            font-weight: 500;
        }
    }
}